# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*/out/
*/target/
*/src/main/java/io/codelex/arithmetic/
*/src/main/java/io/codelex/flowcontrol/
*/src/main/java/io/codelex/generics/
*/src/main/java/io/codelex/loops/
*/src/main/java/io/codelex/maps/
*/src/main/java/io/codelex/polymorphism/
*/src/main/java/io/codelex/streams/
*/src/main/java/io/codelex/typesandvariables/
